
:root {
    --blue: #2727FF;
    --white: #F1FAFF;
    --purple: #770088;
    --red: #a11;
    --lightred: #e40;
    --lightgreen: #CCFFBB;
    --lightblue: #cceeff;
    --black: #000000;
    --gray0: #222222;
    --gray2: #444444;
    --gray3: #666666;
    --gray4: #888888;
    --gray5: #AAAAAA;
    --gray6: #bbbbbb;
    --gray7: #dddddd;
    --green: #61bC42;g
}

