:root {
    --blacker: #161824;
    --black: #282c34;
    --yellow: #e5c07b;
    --red: #e06c75;
    --blue: #528bff;
    --cyan: #56b6c2;
    --background: #21252b;
    --highlightbg: #2c313a;
    --white: #ffffff;
    --lightgray: #abb2bf;
    --lightblue: #61afef;
    --green: #98c379;
    --selection: #3E4451;
    --gray: #7d8799;
    --magenta: #c678dd;
    --orange: #d19a66;
    --tooltipbg: #353a42;
}
.cm-gutters {
    background-color: var(--lightgray) !important;
    color: var(--black) !important;
}

.cm-gutters .cm-activeLineGutter {
    background-color: var(--blacker);
    color: var(--lightblue);
}

#editorparent .cm-activeLine {
    background-color: var(--blacker);
}

html, body {
    background-color: var(--black);
}
