@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#toppanelcontainer {
    background-color: var(--tooltipbg);
    padding-left: 0.5rem;
}
.panelbutton {
    background-color: var(--background);
    color: var(--lightgray);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--lightgray);
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.panelbutton .material-symbols-outlined {
    font-size: 170%;
    position: relative;
    top: 0.18rem;
}

.panelbutton:hover {
    color: var(--cyan);
    border-color: var(--cyan);
}

.panelbutton.opening,
.panelbutton.saving {
    border-color: var(--yellow);
    color: var(--yellow);
}

.panelbutton.saving span {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
