@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#toppanelcontainer {
    background-color: var(--lightblue);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0;
    border-bottom: 0.5px solid var(--purple);
}
.panelbutton {
    background-color: var(--white);
    color: var(--gray3);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--gray3);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 2px 1px var(--gray4);
}

.panelbutton .material-symbols-outlined {
    font-size: 170%;
    position: relative;
    top: 0.18rem;
}

.panelbutton.inactive:hover,
.panelbutton.unchanged:hover,
.panelbutton:hover {
    color: var(--green);
    border-color: var(--green);
}

.panelbutton.processing,
.panelbutton.opening,
.panelbutton.saving {
    border-color: var(--blue);
    color: var(--blue);
}

.panelbutton.inactive,
.panelbutton.unchanged {
    border-color: var(--gray5);
    color: var(--gray5);
    box-shadow: none;
}

.panelbutton.processing span,
.panelbutton.opening span,
.panelbutton.saving span {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.panelbutton.error {
    border-color: var(--red);
    color: var(--red);
}

.cm-search.cm-panel {
    padding-top: 10px !important;
}

.oge-pipeform {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}

.oge-pipeform input {
    font-size: 18px;
    font-family: monospace;
    padding: 0.2rem;
    width: 20rem;
}

.oge-pipeform button {
    font-size: 18px;
    padding: 0.2rem;
    cursor: pointer;
}
