@charset "UTF-8";

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#toppanelcontainer {
    background-color: var(--gray4);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0rem;
    border-bottom: 1px solid var(--brightpurple);
}

#toppanelleftbuttons {
    display: inline-block;
}

#toppanelrightbuttons {
    display: table-cell;
    float: right;
    padding-right: 0.4rem;
    margin-top: 0.7rem;
}

#toppanelrightbuttons span.indicator {
    font-size: 1.2rem;
}

#toppanelrightbuttons .slider {
    margin-left: 1em;
    margin-right: 1em;
    -webkit-appearance: none;
    background-color: var(--gray6);
    color: var(--blue);
    height: 0.5rem;
    cursor: pointer;
}

#toppanelrightbuttons .slider:focus {
    outline: none;
}

#toppanelrightbuttons .slider::-webkit-slider-runnable-track,
#toppanelrightbuttons .slider::-moz-range-track {
    background: var(--gray6);
    height: 0.4rem;
}


#toppanelrightbuttons .slider::-webkit-slider-thumb {
    background: var(--blue);
    height: 1rem;
    width: 1rem;
    color: var(--blue);
    margin-top: 0rem;
    border: 1px solid var(--gray1);
    border-radius: 50%;
    -webkit-appearance: none;
}

#toppanelrightbuttons .slider::-moz-range-thumb {
    background: var(--blue);
    height: 1rem;
    width: 1rem;
    color: var(--blue);
    margin-top: 0rem;
    border: 1px solid var(--gray1);
    border-radius: 50%;
}

.panelbutton {
    background-color: var(--gray6);
    color: var(--gray2);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--gray2);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 2px 1px var(--gray3);
    position: relative;
    top: 0.15rem;
}

.panelbutton .material-symbols-outlined {
    font-size: 170%;
    position: relative;
    top: 0.18rem;
}

.panelbutton.disabled:hover {
    cursor: default;
}

.panelbutton.inactive:hover,
.panelbutton:hover {
    background-color: var(--brightgreen);
}
.panelbutton.unchanged:hover {
    background-color: var(--gray6);
}

.panelbutton.processing,
.panelbutton.opening,
.panelbutton.saving {
    background-color: var(--brightblue);
}

.panelbutton.inactive,
.panelbutton.disabled,
.panelbutton.unchanged {
    border-color: var(--gray4);
    color: var(--gray4);
    box-shadow: none;
}

.panelbutton.processing span,
.panelbutton.opening span,
.panelbutton.saving span {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.panelbutton.error {
    background-color: var(--brightred);
}

.cm-search.cm-panel {
    padding-top: 10px !important;
}

.oge-pipeform {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}

.oge-pipeform input {
    font-size: 18px;
    font-family: monospace;
    padding: 0.2rem;
    width: 20rem;
}

.oge-pipeform button {
    font-size: 18px;
    padding: 0.2rem;
    cursor: pointer;
}
