@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#toppanelcontainer {
    background-color: var(--lightblue);
    padding-left: 0.5rem;
    border-bottom: 0.5px solid var(--purple);
}
.panelbutton {
    background-color: var(--white);
    color: var(--gray3);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.15rem solid var(--gray3);
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
    user-select: none;
}

.panelbutton .material-symbols-outlined {
    font-size: 170%;
    position: relative;
    top: 0.18rem;
}

.panelbutton:hover {
    color: var(--green);
    border-color: var(--green);
}

.panelbutton.opening,
.panelbutton.saving {
    border-color: var(--blue);
    color: var(--blue);
}

.panelbutton.inactive,
.panelbutton.unchanged {
    border-color: var(--gray5);
    color: var(--gray5);
}

.panelbutton.saving span {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.panelbutton.error {
    border-color: var(--red);
    color: var(--red);
}
