@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --ogemono:
    'Courier Prime',
    'JetBrains Mono',
    'JuliaMono',
    'DejaVu Sans Code',
    'DejaVu Sans Mono',
    'Droid Sans Mono',
    'Fira Code',
    'Fira Mono',
    'IBM Plex Mono',
    Inconsolata,
    Cousine,
    'Red Hat Mono',
    'Sarasa Mono K',
    'Ubuntu Mono',
    Consolas,
    Menlo,
    Monaco,
    'Lucida Console',
    monospace,
    'Symbols Nerd Font';
}
