@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  --ogemono:
    'IBM Plex Mono',
    'JetBrains Mono',
    'JuliaMono',
    'DejaVu Sans Code',
    'DejaVu Sans Mono',
    'Droid Sans Mono',
    'Fira Code',
    'Fira Mono',
    Inconsolata,
    Cousine,
    'Red Hat Mono',
    'Sarasa Mono K',
    'Ubuntu Mono',
    Consolas,
    Menlo,
    Monaco,
    'Lucida Console',
    monospace,
    'Symbols Nerd Font';
}
