@charset "UTF-8";

:root {
    --ogeblack: #090300;
    --ogered: #db2d20;
    --ogegreen: #01a252;
    --ogeyellow: #fded02;
    --ogeblue: #01a0e4;
    --ogepurple: #a16a94;
    --ogecyan: #b5e4f4;
    --ogewhite: #a5a2a2;
    --ogebrightBlack: #5c5855;
    --ogebrightRed: #e8bbd0;
    --ogebrightGreen: #3a3432;
    --ogebrightYellow: #4a4543;
    --ogebrightBlue: #807d7c;
    --ogebrightPurple: #d6d5d4;
    --ogebrightCyan: #cdab53;
    --ogebrightWhite: #f7f7f7;
    --ogebackground: #f7f7f7;
    --ogeforeground: #4a4543;
    --ogecursor: #4a4543;
    --ogeselection: #a5a2a2;
    --ogeorange: #ec8d11;
    --ogebrightOrange: #998089;
    --ogemagenta: #a3869b;
    --ogebrightMagenta: #e6e6e5;
    --ogegray1: #dedddd;
    --ogebrightGray1: #726e6c;
    --ogegray2: #c5c4c3;
    --ogebrightGray2: #888583;
    --ogegray3: #acaaa9;
    --ogebrightGray3: #9e9c9a;
    --ogegray4: #949190;
    --ogebrightGray4: #b4b2b1;
    --ogegray5: #7b7776;
    --ogebrightGray5: #cac9c8;
    --ogegray6: #625e5c;
    --ogebrightGray6: #e0e0df;
}
