@charset "UTF-8";

:root {
    --ogeblack: #151515;
    --ogered: #ac4142;
    --ogegreen: #7e8e50;
    --ogeyellow: #e5b567;
    --ogeblue: #6c99bb;
    --ogepurple: #9f4e85;
    --ogecyan: #7dd6cf;
    --ogewhite: #d0d0d0;
    --ogebrightBlack: #505050;
    --ogebrightRed: #ac4142;
    --ogebrightGreen: #7e8e50;
    --ogebrightYellow: #e5b567;
    --ogebrightBlue: #6c99bb;
    --ogebrightPurple: #9f4e85;
    --ogebrightCyan: #7dd6cf;
    --ogebrightWhite: #f5f5f5;
    --ogebackground: #212121;
    --ogeforeground: #d0d0d0;
    --ogecursor: #d0d0d0;
    --ogeselection: #303030;
    --ogeorange: #c87b54;
    --ogebrightOrange: #c87b54;
    --ogemagenta: #b78faa;
    --ogebrightMagenta: #caa1bd;
    --ogegray1: #3a3a3a;
    --ogebrightGray1: #676767;
    --ogegray2: #535353;
    --ogebrightGray2: #7f7f7f;
    --ogegray3: #6c6c6c;
    --ogebrightGray3: #969696;
    --ogegray4: #858585;
    --ogebrightGray4: #aeaeae;
    --ogegray5: #9e9e9e;
    --ogebrightGray5: #c5c5c5;
    --ogegray6: #b7b7b7;
    --ogebrightGray6: #dddddd;
}
