@charset "UTF-8";

:root {
    --ogeblack: #4f4f4f;
    --ogered: #ff6c60;
    --ogegreen: #a8ff60;
    --ogeyellow: #ffffb6;
    --ogeblue: #96cbfe;
    --ogepurple: #ff73fd;
    --ogecyan: #c6c5fe;
    --ogewhite: #eeeeee;
    --ogebrightBlack: #7c7c7c;
    --ogebrightRed: #ffb6b0;
    --ogebrightGreen: #ceffac;
    --ogebrightYellow: #ffffcc;
    --ogebrightBlue: #b5dcff;
    --ogebrightPurple: #ff9cfe;
    --ogebrightCyan: #dfdffe;
    --ogebrightWhite: #ffffff;
    --ogebackground: #0000a4;
    --ogeforeground: #ffff4e;
    --ogecursor: #ffa560;
    --ogeselection: #a4a4a4;
    --ogeorange: #ffb58b;
    --ogebrightOrange: #ffdabe;
    --ogemagenta: #f6b0f5;
    --ogebrightMagenta: #ffcdfe;
    --ogegray1: #242497;
    --ogebrightGray1: #8e8e8e;
    --ogegray2: #48488b;
    --ogebrightGray2: #a1a1a1;
    --ogegray3: #6d6d7f;
    --ogebrightGray3: #b4b4b4;
    --ogegray4: #919172;
    --ogebrightGray4: #c6c6c6;
    --ogegray5: #b6b666;
    --ogebrightGray5: #d9d9d9;
    --ogegray6: #dada5a;
    --ogebrightGray6: #ececec;
}
