@charset "UTF-8";

:root {
    --ogeblack: #000000;
    --ogered: #fd6209;
    --ogegreen: #41a83e;
    --ogeyellow: #ffe862;
    --ogeblue: #989898;
    --ogepurple: #f8f8f8;
    --ogecyan: #9df39f;
    --ogewhite: #e8e8e7;
    --ogebrightBlack: #323232;
    --ogebrightRed: #ff943b;
    --ogebrightGreen: #73da70;
    --ogebrightYellow: #ffff94;
    --ogebrightBlue: #cacaca;
    --ogebrightPurple: #ffffff;
    --ogebrightCyan: #cfffd1;
    --ogebrightWhite: #ffffff;
    --ogebackground: #245032;
    --ogeforeground: #f8f8f8;
    --ogecursor: #336442;
    --ogeselection: #336442;
    --ogeorange: #fea535;
    --ogebrightOrange: #ffc967;
    --ogemagenta: #f0f0ef;
    --ogebrightMagenta: #ffffff;
    --ogegray1: #42684e;
    --ogebrightGray1: #4f4f4f;
    --ogegray2: #60806a;
    --ogebrightGray2: #6c6c6c;
    --ogegray3: #7e9886;
    --ogebrightGray3: #898989;
    --ogegray4: #9db0a3;
    --ogebrightGray4: #a7a7a7;
    --ogegray5: #bbc8bf;
    --ogebrightGray5: #c4c4c4;
    --ogegray6: #d9e0db;
    --ogebrightGray6: #e1e1e1;
}
