@charset "UTF-8";

:root {
    --ogeblack: #000000;
    --ogered: #fd6209;
    --ogegreen: #41a83e;
    --ogeyellow: #ffe862;
    --ogeblue: #245032;
    --ogepurple: #f8f8f8;
    --ogecyan: #9df39f;
    --ogewhite: #ffffff;
    --ogebrightBlack: #323232;
    --ogebrightRed: #ff943b;
    --ogebrightGreen: #73da70;
    --ogebrightYellow: #ffff94;
    --ogebrightBlue: #568264;
    --ogebrightPurple: #ffffff;
    --ogebrightCyan: #cfffd1;
    --ogebrightWhite: #ffffff;
    --ogebackground: #0b2f20;
    --ogeforeground: #f8f8f8;
    --ogecursor: #336442;
    --ogeselection: #245032;
    --ogeorange: #fea535;
    --ogebrightOrange: #ffc967;
    --ogemagenta: #fbfbfb;
    --ogebrightMagenta: #ffffff;
    --ogegray1: #2c4b3e;
    --ogebrightGray1: #4f4f4f;
    --ogegray2: #4e685d;
    --ogebrightGray2: #6c6c6c;
    --ogegray3: #70857c;
    --ogebrightGray3: #898989;
    --ogegray4: #92a19b;
    --ogebrightGray4: #a7a7a7;
    --ogegray5: #b4beba;
    --ogebrightGray5: #c4c4c4;
    --ogegray6: #d6dbd9;
    --ogebrightGray6: #e1e1e1;
}
