@charset "UTF-8";

:root {
    --ogeblack: #322931;
    --ogered: #dd464c;
    --ogegreen: #8fc13e;
    --ogeyellow: #fdcc59;
    --ogeblue: #1290bf;
    --ogepurple: #c85e7c;
    --ogecyan: #149b93;
    --ogewhite: #b9b5b8;
    --ogebrightBlack: #797379;
    --ogebrightRed: #dd464c;
    --ogebrightGreen: #8fc13e;
    --ogebrightYellow: #fdcc59;
    --ogebrightBlue: #1290bf;
    --ogebrightPurple: #c85e7c;
    --ogebrightCyan: #149b93;
    --ogebrightWhite: #ffffff;
    --ogebackground: #322931;
    --ogeforeground: #b9b5b8;
    --ogecursor: #b9b5b8;
    --ogeselection: #5c545b;
    --ogeorange: #ed8952;
    --ogebrightOrange: #ed8952;
    --ogemagenta: #c0899a;
    --ogebrightMagenta: #e3aebd;
    --ogegray1: #453d44;
    --ogebrightGray1: #8c878c;
    --ogegray2: #585157;
    --ogebrightGray2: #9f9b9f;
    --ogegray3: #6b656a;
    --ogebrightGray3: #b2afb2;
    --ogegray4: #7f797e;
    --ogebrightGray4: #c5c3c5;
    --ogegray5: #928d91;
    --ogebrightGray5: #d8d7d8;
    --ogegray6: #a5a1a4;
    --ogebrightGray6: #ebebeb;
}
