@charset "UTF-8";

:root {
    --ogeblack: #323232;
    --ogered: #d25252;
    --ogegreen: #7fe173;
    --ogeyellow: #ffc66d;
    --ogeblue: #4099ff;
    --ogepurple: #f680ff;
    --ogecyan: #bed6ff;
    --ogewhite: #eeeeec;
    --ogebrightBlack: #535353;
    --ogebrightRed: #f07070;
    --ogebrightGreen: #9dff91;
    --ogebrightYellow: #ffe48b;
    --ogebrightBlue: #5eb7f7;
    --ogebrightPurple: #ff9dff;
    --ogebrightCyan: #dcf4ff;
    --ogebrightWhite: #ffffff;
    --ogebackground: #323232;
    --ogeforeground: #ffffff;
    --ogecursor: #d6d6d6;
    --ogeselection: #5b5b5b;
    --ogeorange: #e88c5f;
    --ogebrightOrange: #f7aa7d;
    --ogemagenta: #f2b7f5;
    --ogebrightMagenta: #ffceff;
    --ogegray1: #4f4f4f;
    --ogebrightGray1: #6b6b6b;
    --ogegray2: #6c6c6c;
    --ogebrightGray2: #848484;
    --ogegray3: #898989;
    --ogebrightGray3: #9c9c9c;
    --ogegray4: #a7a7a7;
    --ogebrightGray4: #b5b5b5;
    --ogegray5: #c4c4c4;
    --ogebrightGray5: #cdcdcd;
    --ogegray6: #e1e1e1;
    --ogebrightGray6: #e6e6e6;
}
