@charset "UTF-8";

:root {
    --ogeblack: #000000;
    --ogered: #c91b00;
    --ogegreen: #00c200;
    --ogeyellow: #c7c400;
    --ogeblue: #2225c4;
    --ogepurple: #ca30c7;
    --ogecyan: #00c5c7;
    --ogewhite: #ffffff;
    --ogebrightBlack: #686868;
    --ogebrightRed: #ff6e67;
    --ogebrightGreen: #5ffa68;
    --ogebrightYellow: #fffc67;
    --ogebrightBlue: #6871ff;
    --ogebrightPurple: #ff77ff;
    --ogebrightCyan: #60fdff;
    --ogebrightWhite: #ffffff;
    --ogebackground: #000000;
    --ogeforeground: #ffffff;
    --ogecursor: #e5e5e5;
    --ogeselection: #c1deff;
    --ogeorange: #c86f00;
    --ogebrightOrange: #ffb567;
    --ogemagenta: #e497e3;
    --ogebrightMagenta: #ffbbff;
    --ogegray1: #242424;
    --ogebrightGray1: #7d7d7d;
    --ogegray2: #484848;
    --ogebrightGray2: #939393;
    --ogegray3: #6d6d6d;
    --ogebrightGray3: #a8a8a8;
    --ogegray4: #919191;
    --ogebrightGray4: #bebebe;
    --ogegray5: #b6b6b6;
    --ogebrightGray5: #d3d3d3;
    --ogegray6: #dadada;
    --ogebrightGray6: #e9e9e9;
}
