@charset "UTF-8";

:root {
    --ogeblack: #000000;
    --ogered: #cc0000;
    --ogegreen: #00a600;
    --ogeyellow: #999900;
    --ogeblue: #0000b2;
    --ogepurple: #b200b2;
    --ogecyan: #00a6b2;
    --ogewhite: #cccccc;
    --ogebrightBlack: #666666;
    --ogebrightRed: #e50000;
    --ogebrightGreen: #00d900;
    --ogebrightYellow: #e5e500;
    --ogebrightBlue: #0000ff;
    --ogebrightPurple: #e500e5;
    --ogebrightCyan: #00e5e5;
    --ogebrightWhite: #e5e5e5;
    --ogebackground: #fef49c;
    --ogeforeground: #000000;
    --ogecursor: #7f7f7f;
    --ogeselection: #a4c9cd;
    --ogeorange: #b24c00;
    --ogebrightOrange: #e57200;
    --ogemagenta: #bf66bf;
    --ogebrightMagenta: #e572e5;
    --ogegray1: #d9d185;
    --ogebrightGray1: #787878;
    --ogegray2: #b5ae6f;
    --ogebrightGray2: #8a8a8a;
    --ogegray3: #918b59;
    --ogebrightGray3: #9c9c9c;
    --ogegray4: #6c6842;
    --ogebrightGray4: #aeaeae;
    --ogegray5: #48452c;
    --ogebrightGray5: #c0c0c0;
    --ogegray6: #242216;
    --ogebrightGray6: #d2d2d2;
}
