@charset "UTF-8";

:root {
    --ogeblack: #000000;
    --ogered: #e52222;
    --ogegreen: #a6e32d;
    --ogeyellow: #fc951e;
    --ogeblue: #c48dff;
    --ogepurple: #fa2573;
    --ogecyan: #67d9f0;
    --ogewhite: #f2f2f2;
    --ogebrightBlack: #555555;
    --ogebrightRed: #ff5555;
    --ogebrightGreen: #55ff55;
    --ogebrightYellow: #ffff55;
    --ogebrightBlue: #5555ff;
    --ogebrightPurple: #ff55ff;
    --ogebrightCyan: #55ffff;
    --ogebrightWhite: #ffffff;
    --ogebackground: #000000;
    --ogeforeground: #bbbbbb;
    --ogecursor: #bbbbbb;
    --ogeselection: #555555;
    --ogeorange: #f05b20;
    --ogebrightOrange: #ffaa55;
    --ogemagenta: #f68bb2;
    --ogebrightMagenta: #ffaaff;
    --ogegray1: #1a1a1a;
    --ogebrightGray1: #6d6d6d;
    --ogegray2: #353535;
    --ogebrightGray2: #858585;
    --ogegray3: #505050;
    --ogebrightGray3: #9d9d9d;
    --ogegray4: #6a6a6a;
    --ogebrightGray4: #b6b6b6;
    --ogegray5: #858585;
    --ogebrightGray5: #cecece;
    --ogegray6: #a0a0a0;
    --ogebrightGray6: #e6e6e6;
}
