@charset "UTF-8";

:root {
    --ogeblack: #3b4252;
    --ogered: #bf616a;
    --ogegreen: #a3be8c;
    --ogeyellow: #ebcb8b;
    --ogeblue: #81a1c1;
    --ogepurple: #b48ead;
    --ogecyan: #88c0d0;
    --ogewhite: #d8dee9;
    --ogebrightBlack: #4c566a;
    --ogebrightRed: #bf616a;
    --ogebrightGreen: #a3be8c;
    --ogebrightYellow: #ebcb8b;
    --ogebrightBlue: #81a1c1;
    --ogebrightPurple: #b48ead;
    --ogebrightCyan: #8fbcbb;
    --ogebrightWhite: #eceff4;
    --ogebackground: #e5e9f0;
    --ogeforeground: #414858;
    --ogecursor: #88c0d0;
    --ogeselection: #d8dee9;
    --ogeorange: #d5967a;
    --ogebrightOrange: #d5967a;
    --ogemagenta: #c6b6cb;
    --ogebrightMagenta: #d0bed0;
    --ogegray1: #cdd2da;
    --ogebrightGray1: #626b7d;
    --ogegray2: #b6bbc4;
    --ogebrightGray2: #798191;
    --ogegray3: #9ea4ae;
    --ogebrightGray3: #9097a5;
    --ogegray4: #878d99;
    --ogebrightGray4: #a7adb8;
    --ogegray5: #6f7683;
    --ogebrightGray5: #bec3cc;
    --ogegray6: #585f6d;
    --ogebrightGray6: #d5d9e0;
}
