@charset "UTF-8";

:root {
    --ogeblack: #212121;
    --ogered: #c30771;
    --ogegreen: #10a778;
    --ogeyellow: #a89c14;
    --ogeblue: #008ec4;
    --ogepurple: #523c79;
    --ogecyan: #20a5ba;
    --ogewhite: #d9d9d9;
    --ogebrightBlack: #424242;
    --ogebrightRed: #fb007a;
    --ogebrightGreen: #5fd7af;
    --ogebrightYellow: #f3e430;
    --ogebrightBlue: #20bbfc;
    --ogebrightPurple: #6855de;
    --ogebrightCyan: #4fb8cc;
    --ogebrightWhite: #f1f1f1;
    --ogebackground: #f1f1f1;
    --ogeforeground: #424242;
    --ogecursor: #20bbfc;
    --ogeselection: #b6d6fd;
    --ogeorange: #b55142;
    --ogebrightOrange: #f77255;
    --ogemagenta: #958aa9;
    --ogebrightMagenta: #aca3e7;
    --ogegray1: #d8d8d8;
    --ogebrightGray1: #5b5b5b;
    --ogegray2: #bfbfbf;
    --ogebrightGray2: #747474;
    --ogegray3: #a6a6a6;
    --ogebrightGray3: #8d8d8d;
    --ogegray4: #8d8d8d;
    --ogebrightGray4: #a6a6a6;
    --ogegray5: #747474;
    --ogebrightGray5: #bfbfbf;
    --ogegray6: #5b5b5b;
    --ogebrightGray6: #d8d8d8;
}
