@charset "UTF-8";

:root {
    --ogeblack: #000000;
    --ogered: #ff3f00;
    --ogegreen: #00bb00;
    --ogeyellow: #e7b000;
    --ogeblue: #0072ff;
    --ogepurple: #bb00bb;
    --ogecyan: #00bbbb;
    --ogewhite: #bbbbbb;
    --ogebrightBlack: #555555;
    --ogebrightRed: #bb0000;
    --ogebrightGreen: #00bb00;
    --ogebrightYellow: #e7b000;
    --ogebrightBlue: #0072ae;
    --ogebrightPurple: #ff55ff;
    --ogebrightCyan: #55ffff;
    --ogebrightWhite: #ffffff;
    --ogebackground: #7a251e;
    --ogeforeground: #d7c9a7;
    --ogecursor: #ffffff;
    --ogeselection: #a4a390;
    --ogeorange: #f37700;
    --ogebrightOrange: #d15800;
    --ogemagenta: #bb5dbb;
    --ogebrightMagenta: #ffaaff;
    --ogegray1: #873c31;
    --ogebrightGray1: #6d6d6d;
    --ogegray2: #945345;
    --ogebrightGray2: #858585;
    --ogegray3: #a16b58;
    --ogebrightGray3: #9d9d9d;
    --ogegray4: #af826c;
    --ogebrightGray4: #b6b6b6;
    --ogegray5: #bc9a7f;
    --ogebrightGray5: #cecece;
    --ogegray6: #c9b193;
    --ogebrightGray6: #e6e6e6;
}
