@charset "UTF-8";

:root {
    --ogeblack: #4b4b4b;
    --ogered: #e388a3;
    --ogegreen: #98bd99;
    --ogeyellow: #ffdf9b;
    --ogeblue: #97bdde;
    --ogepurple: #a5a6c5;
    --ogecyan: #6fbdbe;
    --ogewhite: #dddddd;
    --ogebrightBlack: #6c6465;
    --ogebrightRed: #eb99b1;
    --ogebrightGreen: #8fcd92;
    --ogebrightYellow: #ffe5b3;
    --ogebrightBlue: #a2c8e9;
    --ogebrightPurple: #b2b3da;
    --ogebrightCyan: #6bcacb;
    --ogebrightWhite: #a8a8a8;
    --ogebackground: #4b4b4b;
    --ogeforeground: #dddddd;
    --ogecursor: #e2e2e2;
    --ogeselection: #777777;
    --ogeorange: #f1b39f;
    --ogebrightOrange: #f5bfb2;
    --ogemagenta: #c1c1d1;
    --ogebrightMagenta: #adadc1;
    --ogegray1: #5f5f5f;
    --ogebrightGray1: #746d6e;
    --ogegray2: #747474;
    --ogebrightGray2: #7d7778;
    --ogegray3: #898989;
    --ogebrightGray3: #858181;
    --ogegray4: #9e9e9e;
    --ogebrightGray4: #8e8a8b;
    --ogegray5: #b3b3b3;
    --ogebrightGray5: #969494;
    --ogegray6: #c8c8c8;
    --ogebrightGray6: #9f9e9e;
}
