@charset "UTF-8";

:root {
    --ogeblack: #000000;
    --ogered: #d90429;
    --ogegreen: #3ad900;
    --ogeyellow: #ffe700;
    --ogeblue: #6943ff;
    --ogepurple: #ff2c70;
    --ogecyan: #00c5c7;
    --ogewhite: #c7c7c7;
    --ogebrightBlack: #686868;
    --ogebrightRed: #f92a1c;
    --ogebrightGreen: #43d426;
    --ogebrightYellow: #f1d000;
    --ogebrightBlue: #6871ff;
    --ogebrightPurple: #ff77ff;
    --ogebrightCyan: #79e8fb;
    --ogebrightWhite: #ffffff;
    --ogebackground: #1e1d40;
    --ogeforeground: #ffffff;
    --ogecursor: #fad000;
    --ogeselection: #b362ff;
    --ogeorange: #ec7514;
    --ogebrightOrange: #f57d0e;
    --ogemagenta: #e3799b;
    --ogebrightMagenta: #ffbbff;
    --ogegray1: #3e3d5b;
    --ogebrightGray1: #7d7d7d;
    --ogegray2: #5e5d76;
    --ogebrightGray2: #939393;
    --ogegray3: #7e7d91;
    --ogebrightGray3: #a8a8a8;
    --ogegray4: #9e9ead;
    --ogebrightGray4: #bebebe;
    --ogegray5: #bebec8;
    --ogebrightGray5: #d3d3d3;
    --ogegray6: #dedee3;
    --ogebrightGray6: #e9e9e9;
}
