@charset "UTF-8";

:root {
    --ogeblack: #022026;
    --ogered: #b2302d;
    --ogegreen: #00a941;
    --ogeyellow: #59819c;
    --ogeblue: #459a86;
    --ogepurple: #00599d;
    --ogecyan: #5d7e19;
    --ogewhite: #405555;
    --ogebrightBlack: #384451;
    --ogebrightRed: #ff4242;
    --ogebrightGreen: #2aea5e;
    --ogebrightYellow: #8ed4fd;
    --ogebrightBlue: #61d5ba;
    --ogebrightPurple: #1298ff;
    --ogebrightCyan: #98d028;
    --ogebrightWhite: #58fbd6;
    --ogebackground: #011116;
    --ogeforeground: #ffffff;
    --ogecursor: #4afcd6;
    --ogeselection: #415555;
    --ogeorange: #855864;
    --ogebrightOrange: #c68b9f;
    --ogemagenta: #205779;
    --ogebrightMagenta: #35c9ea;
    --ogegray1: #253337;
    --ogebrightGray1: #3c5e64;
    --ogegray2: #495558;
    --ogebrightGray2: #417877;
    --ogegray3: #6d7779;
    --ogebrightGray3: #45928a;
    --ogegray4: #92999b;
    --ogebrightGray4: #4aac9d;
    --ogegray5: #b6bbbc;
    --ogebrightGray5: #4ec6b0;
    --ogegray6: #dadddd;
    --ogebrightGray6: #53e0c3;
}
